{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}

{% assign begin_address = page.address | slice: 0, 4 | downcase  %}
{% if page.address == "online" %}
{% assign online = "true_private" %}
{% elsif begin_address contains "http" %}
{% assign online = "true_public" %}
{% else %}
{% assign online = "false" %}
{% endif %}

<div class="jumbotron">
  <div class="row">

    <div class="col-md-6">
      <p>
      <a href="{{ site.wvu_site }}" class="pull-left">
              <img src="{{ page.root }}/assets/img/wvu-logo.png"
              alt="West Virginia University" style="width:420px;height:86px;" />
      </a>
      </p>


      {% unless site.title == "Workshop Title" or site.title == "" %}
      <h1>{{site.title}}</h1>
      {% endunless %}
    </div>

    <div class="col-md-6">


      <p>
      <a href="{{ site.wvu_site }}" class="pull-left">
              <img src="{{ page.root }}/assets/img/wvu-rc.png"
              alt="WVU Research Computing logo" style="width:420px;height:116px;" />
      </a>
      </p>

	{% comment %}
	<h2>{{page.venue}}</h2>
	{% endcomment %}
	<h2>
	{% if page.instructor %}
       	{{page.instructor | join: ', ' %}}
        {% else %}
        to be announced.
        {% endif %}
	</h2>

	<div>
          {% if online == "true_public" %}
          <p>Online (<a href="{{page.address}}">link</a>)</p>
          {% elsif online == "true_private" %}
          <p>Online</p>
          {% endif %}
          <p>{{page.humandate}}</p>
          <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>

          <p>
	{% comment %}
          <strong>Instructors:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
	{% endcomment %}
          </p>
          {% if page.helper %}
          <p>
          <strong>Helpers:</strong>
          {{page.helper | join: ', ' %}}
          </p>
          {% endif %}
	</div>
    </div>
  </div>
</div>
