<p>
  <a href="{{site.swc_site}}">Modern Fortran</a>
  aims to teach the Fortran Programming Language from a modern perspective.
  The lesson is based on the features introduced with Fortran 2008 and
  parallel computing paradigms such as OpenMP, OpenACC and MPI. Fortran is one
  of the main programming languages for High Performance Computing and a
  working knowledge is fundamental to contribute in important scientific
  codes that are based on this language.
</p>
<p align="center">
  <em>
    For more information on Fortran and its history, wikipedia is a good start:
    "<a href="https://en.wikipedia.org/wiki/Fortran">Wikipedia page about Fortran</a>".
  </em>
</p>
