<p>
  <strong><a href="{{site.wvu_site}}">Modern Fortran</a></strong>
  workshop aims to present the Fortran Programming Language from a modern perspective.
  Fortran is one of the oldest programming languages in active use today.
  Fortran is the language of choice of some of the largest HPC software packages in many areas of High-Performance Computing, such as weather modeling, materials science, molecular dynamics, and the software
  On its long history of more than 60 years, new features have been introduced and some others became discouraged and later deprecated.
  This lessons were created presenting the current best ways of programming using features introduced with <strong>Fortran 90, 95 2003</strong> and <strong>2008</strong>.
  Today High-Performance Computing is equivalent to Parallel Computing.
  We devote several hours to present parallel computing paradigms such as <strong>OpenMP, OpenACC</strong> and <strong>MPI</strong>.
  Fortran is one of the main programming languages for High-Performance Computing and working knowledge is fundamental to understand and contribute some of the most important scientific codes that run on the fastest supercomputers today.
</p>
<p align="center">
  <em>
    For more information on Fortran and its history, wikipedia is a good start:
    "<a href="https://en.wikipedia.org/wiki/Fortran">Wikipedia page about Fortran</a>".
  </em>
</p>
