<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Basic Elements of the language</td> </tr>
      <tr> <td>15:00</td>  <td>Best Practives Modern Fortran</td> </tr>
      <tr> <td>16:00</td>  <td>Exercises</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Introduction to Parallel Programming</td> </tr>
      <tr> <td>15:00</td>  <td>OpenMP</td> </tr>
      <tr> <td>16:00</td>  <td>Exercises</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>OpenACC</td> </tr>
      <tr> <td>15:30</td>  <td>Beyond OpenACC: Fortran CUDA</td> </tr>
      <tr> <td>16:00</td>  <td>Exercises</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Distributed Computing: MPI</td> </tr>
      <tr> <td>14:30</td>  <td>Point to Point communications</td> </tr>
      <tr> <td>15:00</td>  <td>Collective communications</td> </tr>
      <tr> <td>15:30</td>  <td>Advanced communications</td> </tr>
      <tr> <td>16:00</td>  <td>Exercises</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
