<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td><a href="https://wvuhpc.github.io/Modern-Fortran/10-Introduction/index.html">Introduction to Modern Fortran</a></td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://wvuhpc.github.io/Modern-Fortran/11-Best-Practices/index.html">Best Practices in Modern Fortran</a></td> </tr>
      <tr> <td>16:00</td>  <td><a href="https://wvuhpc.github.io/Modern-Fortran/18-Exercises/index.html">Exercises</a></td> </tr>
      <tr> <td>17:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td><a href="https://wvuhpc.github.io/Modern-Fortran/20-Parallel-Programming/index.html">Parallel Programming in Fortran</a></td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://wvuhpc.github.io/Modern-Fortran/21-OpenMP/index.html">OpenMP: Parallel Multiprocessing</a></td> </tr>
      <tr> <td>16:00</td>  <td><a href="https://wvuhpc.github.io/Modern-Fortran/28-Exercises/index.html">Exercises</a></td> </tr>
      <tr> <td>17:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>OpenACC: Parallel Accelerators</td> </tr>
      <tr> <td>15:00</td>  <td>OpenACC and Fortran CUDA</td> </tr>
      <tr> <td>16:00</td>  <td>Exercises</td> </tr>
      <tr> <td>17:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>MPI: Message Passing Interface</td> </tr>
      <tr> <td>15:00</td>  <td>Advanced Topics in MPI</td> </tr>
      <tr> <td>16:00</td>  <td>Exercises</td> </tr>
      <tr> <td>17:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
