<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Introduction to Fortran and Basic Elements of the language</td> </tr>
      <tr> <td>14:30</td>  <td>Expressions</td> </tr>
      <tr> <td>15:00</td>  <td>Control: Conditionals and Loops </td> </tr>
      <tr> <td>15:30</td>  <td>Structural Programming: Functions, subroutines and modules</td> </tr>
      <tr> <td>16:00</td>  <td>Allocations and Arrays</td> </tr>
      <tr> <td>16:30</td>  <td>Exercises</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Formatted Input and Ouput</td> </tr>
      <tr> <td>14:30</td>  <td>File Input and Ouput</td> </tr>
      <tr> <td>15:00</td>  <td>Object Oriented Programming</td> </tr>
      <tr> <td>15:30</td>  <td>Coarrays</td> </tr>
      <tr> <td>16:00</td>  <td>Exercises</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Directive-based parallelism: OpenMP and OpenACC</td> </tr>
      <tr> <td>14:30</td>  <td>Parallel loops</td> </tr>
      <tr> <td>15:00</td>  <td>Reductions</td> </tr>
      <tr> <td>15:30</td>  <td>Parallel tasks</td> </tr>
      <tr> <td>16:00</td>  <td>Exercises</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Distributed Computing: MPI</td> </tr>
      <tr> <td>14:30</td>  <td>Point to Point communications</td> </tr>
      <tr> <td>15:00</td>  <td>Collective communications</td> </tr>
      <tr> <td>15:30</td>  <td>Advanced communications</td> </tr>
      <tr> <td>16:00</td>  <td>Exercises</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
