<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
</p>
<p>
  You don't need to have any previous knowledge about Fortran.
  At least some familiarity with at least one programming language is very welcome.
  Understanding basic concepts in programming such as variables, loops, conditionals, functions will set a good foundation to learn how those concepts work in Fortran.
</p>
<p>
  Some familiarity with UNIX as a user is handy.
  That means that you should know how to connect to the cluster using SSH, use the basic commands in UNIX/Linux and edit files with your favorite text editor.
  In those moments where submitting jobs to a cluster is needed, the proper commands are presented and explained.
</p>
<p>
  You don't need to know about parallel programming for this course.
  The lesson will introduce the basic concepts of parallel programming for the various paradigms and standards present in the workshop.
</p>
